* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.container {
  text-align: center;
  font-family: "Poppins", san-serif;
  height: 100%;
  min-height: 900px;
  padding: 5% 10% 5% 10%;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  background-image: url("./sky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

/* 
Login */
.loginHeader {
  text-align: center;
  margin-top: 8rem;
  padding: 2.5rem;
  font-size: 2.5rem;
  color: #8860d0;
  background-color: transparent;
  border-bottom: 2px solid #84ceeb;
  width: 100%;
}

h1 .highlight {
  color: #5680e9;
}

/* button container */
.buttonContainer {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotifyLogo {
  margin-bottom: 1.3rem;
}
.loginButton {
  color: #f4f6f7;
  border: 1px solid #5680e9;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  background-color: #5ab9ea;
  padding: 0.5rem 0.5rem;
  margin-top: 0;
}

.loginButton:hover {
  background-color: #5680e9;
  color: #f4f6f7;
}

.loginH2 {
  color: #5680e9;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}

.footer {
  font-size: 0.75rem;
  font-weight: 200 rem;
  color: #f4f6f7;
  background-color: #8860d0;
  width: 100%;
  padding: 0.25rem 0.25rem;
}

/* Main */
.mainHeader {
  text-align: center;
  font-size: 2.5rem;
  color: #8860d0;
  background-color: transparent;
  border-bottom: 2px solid #84ceeb;
  width: 100%;
}

.App {
  text-align: center;
  font-family: "Poppins", san-serif;
  height: 100%;
  width: 100%;
  min-height: 900px;
  padding: 5% 10% 5% 10%;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #ffff;
}

.userName {
  color: #f4f6f7;
  background-color: #5680e9;
  padding: 0.3rem;
  margin: 1rem;
}
.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
